/node_modules
/public/hot
/public/storage
/nestjs/node_modules
/nestjs/dist
/nestjs/.env
/nestjs/package-lock.json
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env